<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-user-registration-dm">
  <template>
  </template>

  <script>
    /**
     * `fotosocial-user-registration-dm`
     * Data manager for user registration
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialUserRegistrationDm extends Polymer.Element {
      static get is() { return 'fotosocial-user-registration-dm'; }
      static get properties() {
        return {
          user: {
            type: Object,
            value: {}
          }
        };
      }

      saveUserToLocalStorage() {

        let fotosocialData = localStorage.getItem('fotosocial') ? JSON.parse(localStorage.getItem('fotosocial')) : false;

        if(fotosocialData) {

          if (fotosocialData.users.find(user => user.user === this.user.user)) {
            this.dispatchEvent(new CustomEvent('user-already-registered', {
              bubbles: true,
              composed: true,
              detail: this.user
            }));
          } else {
            fotosocialData.users.push(this.user);
            localStorage.setItem('fotosocial', JSON.stringify(fotosocialData));
            this.dispatchEvent(new CustomEvent('user-successfully-registered', {
              bubbles: true,
              composed: true,
              detail: this.user
            }));
          }
        } else {

          let fotosocialDataModified = {
            users: [
              this.user
            ]
          }

          localStorage.setItem('fotosocial', JSON.stringify(fotosocialDataModified));
        }

      }

    }

    window.customElements.define(FotosocialUserRegistrationDm.is, FotosocialUserRegistrationDm);
  </script>
</dom-module>
